@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #003ecb;
  --base-black: #444444;
  --gray-black: #cccccc;
  --full-white: #FFFFFF;
  height: 100%;
}

html {
  /* TODO:: Make use of this */
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: var(--base-black);
  height: 100%;
  font-size: 14px;
}
