@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("./variables.css");

html {
  /* TODO:: Make use of this */
}

a {
  text-decoration: none;
}

.row {
  /* padding-inline: 0; */
  /* Doing this to remove bootstraps inline padding on elements with row class names */
}

input.veng-inputs {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  &::placeholder {
    text-transform: capitalize;
    color: var(--base-black);
  }
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: var(--base-black);
  height: 100%;
  font-size: 14px;
  background-color: #f5f6fa;
}
